<div class="content">
  <app-word *ngFor="let word of words" [goal]="goal" [word]="word"></app-word>
  <div class="button-panel">
    <button mat-button color="warn" (click)="reset()" #resetButton>
      Reset
    </button>
    <button
      mat-button
      color="primary"
      (click)="openStatistics()"
      #statisticsButton
    >
      Statistics
    </button>
  </div>
  <app-keyboard
    #keyboard
    (change)="onInput($event)"
    (enter)="onEnter()"
  ></app-keyboard>
  <p>{{ finishedMessage }}</p>
</div>
